@charset "utf-8";
.dice_result{
	background-color: #0f0;
	min-width: 2vw;
	display: inline-block;
	padding: 4px;
}
.die{
	background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
	border: 0px;
	color: #000;
	transition: color 1s;
	padding: 4px;
}
.die:hover{
	background-image: linear-gradient(165deg, #f34079 40%, #fc894d);
}
.die:active{
	background-image: linear-gradient(185deg, #f34079 40%, #fc894d);
	color: #fff;
	box-shadow: 2px 2px 5px #fc894d;
}
.hline{
	margin: 0 auto;
	text-align: center;
}
.keyboard_number{
	background-color: #ccc;
	margin: 10px;
}
.keyboard_number div{
	width: 80vw;
	max-width: 200px;
	margin: 0 auto;
	background-color: #f00;
}
.keyboard_number div button{
	padding: 3px;
	background-color: #eee;
	border: 1px;
}
.keyboard_number div button:hover{
	padding: 3px;
	background-color: #fff;
	border: 1px;
	cursor: pointer;
}

.keyboard_number div button:active{
	background-color: #944;
	color: #fff;
	box-shadow: 2px 2px 5px #fc894d;
}
.step{
	
}
#confirm{
	margin: 0 auto;
	
}
#now_step{
	min-height: 10px;
	min-width: 10px;
	background-color: #ddd;
}
#all_steps{
	min-height: 10px;
	min-width: 10px;
	background-color: #d0d;
}